# General
.DS_Store
.idea/
.vscode/
*.log
*.tmp

# Node
node_modules/
dist/
coverage/

# Python
__pycache__/
*.pyc
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# CDK
cdk.out/
cdk.context.json

# Java
build/
.gradle/
target/
